/* line 33, ../scss/about.scss */
html {
  height: 100%;
}

/* line 37, ../scss/about.scss */
body {
  min-height: 100%;
  height: 100%;
}

/* line 42, ../scss/about.scss */
.about_content {
  background: #f6f6f6;
  min-height: 100%;
  padding: 1px 0 100px 0;
}

/* line 48, ../scss/about.scss */
.about_nav {
  position: static;
  border: none;
  height: 80px;
  line-height: 80px;
  color: #e0e0e0;
  font-size: 18px;
  background-color: #9e569f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #925193), color-stop(100%, #aa5aab));
  background-image: -webkit-linear-gradient(top, #925193, #aa5aab);
  background-image: -moz-linear-gradient(top, #925193, #aa5aab);
  background-image: -o-linear-gradient(top, #925193, #aa5aab);
  background-image: linear-gradient(top, #925193, #aa5aab);
  -webkit-box-shadow: inset 0 -5px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -5px 30px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -5px 30px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 490px) {
  /* line 61, ../scss/about.scss */
  .about_nav {
    font-size: 14px;
  }
  /* line 65, ../scss/about.scss */
  .about_nav .nav_lnk {
    margin-right: 1em;
  }
}
@media screen and (max-width: 360px) {
  /* line 71, ../scss/about.scss */
  .about_nav {
    font-size: 12px;
  }
}
/* line 76, ../scss/about.scss */
.about_nav nav {
  background: none;
}
/* line 80, ../scss/about.scss */
.about_nav .nav_lnk {
  font-size: inherit;
  float: left;
  display: block !important;
}
/* line 85, ../scss/about.scss */
.about_nav .nav_lnk:after {
  top: 55px;
}

/* line 91, ../scss/about.scss */
.header_like_wrap {
  padding: 0 80px;
  max-width: 1020px;
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  /* line 97, ../scss/about.scss */
  .header_like_wrap {
    max-width: 1306px;
    padding: 0 100px;
  }
}
@media screen and (max-width: 980px) {
  /* line 104, ../scss/about.scss */
  .header_like_wrap {
    padding: 0 40px;
  }
}
@media screen and (max-width: 400px) {
  /* line 110, ../scss/about.scss */
  .header_like_wrap {
    padding: 0 20px;
  }
}

/* line 118, ../scss/about.scss */
.team_wrap {
  margin-left: -20px;
}
/* line 122, ../scss/about.scss */
.team_wrap .avatar {
  width: 298px;
  height: 298px;
  float: left;
  margin: 0 0 20px 20px;
  overflow: hidden;
  border: 1px solid #848484;
  color: #ccc;
}
/* line 131, ../scss/about.scss */
.team_wrap .avatar h3 {
  height: 50px;
  line-height: 50px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  padding: 0 10px;
  font-weight: normal;
}
/* line 142, ../scss/about.scss */
.team_wrap .avatar p {
  padding: 0 10px;
}
/* line 146, ../scss/about.scss */
.team_wrap .avatar div {
  -webkit-transform: translateY(248px);
  -moz-transform: translateY(248px);
  -ms-transform: translateY(248px);
  -o-transform: translateY(248px);
  transform: translateY(248px);
  width: 100%;
  height: 100%;
  background: rgba(23, 17, 21, 0.8);
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  -moz-transition: -moz-transform 0.15s ease-in-out;
  -o-transition: -o-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
}
/* line 156, ../scss/about.scss */
.team_wrap .avatar:hover div {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 163, ../scss/about.scss */
.lt-ie9 .team_wrap .avatar {
  position: relative;
}
/* line 166, ../scss/about.scss */
.lt-ie9 .team_wrap .avatar div {
  position: absolute;
  left: 0;
  top: 248px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA7CAYAAAAw23kDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABaSURBVHja7M9BEQAgCAAwpAEPz/59CEUP3BrsvLodC2UsJSYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJib2YWwAAAD//wMAfdgBfxhhGQYAAAAASUVORK5CYII=) repeat;
}
/* line 174, ../scss/about.scss */
.lt-ie9 .team_wrap .avatar:hover div {
  top: 0;
}
/* line 180, ../scss/about.scss */
.team_wrap .peng {
  background-image: url('../asset/avatar_peng.png?1381490532');
}
/* line 181, ../scss/about.scss */
.team_wrap .tibo {
  background-image: url('../asset/avatar_tibo.png?1381488794');
}
/* line 182, ../scss/about.scss */
.team_wrap .ada {
  background-image: url('../asset/avatar_ada.png?1381488188');
}
/* line 183, ../scss/about.scss */
.team_wrap .jimmy {
  background-image: url('../asset/avatar_jimmy.png?1381489656');
}
/* line 184, ../scss/about.scss */
.team_wrap .ken {
  background-image: url('../asset/avatar_ken.png?1381488042');
}
/* line 185, ../scss/about.scss */
.team_wrap .song {
  background-image: url('../asset/avatar_song.png?1381488069');
}
/* line 186, ../scss/about.scss */
.team_wrap .tim {
  background-image: url('../asset/avatar_tim.png?1381488128');
}
/* line 187, ../scss/about.scss */
.team_wrap .michael {
  background-image: url('../asset/avatar_michael.png?1381487894');
}
/* line 188, ../scss/about.scss */
.team_wrap .morris {
  background-image: url('../asset/avatar_morris.png?1381489656');
}
/* line 189, ../scss/about.scss */
.team_wrap .paula {
  background-image: url('../asset/avatar_paula.png?1381489656');
}
/* line 190, ../scss/about.scss */
.team_wrap .kenshin {
  background-image: url('../asset/avatar_kenshin.png?1381487985');
}
/* line 191, ../scss/about.scss */
.team_wrap .angel {
  background-image: url('../asset/avatar_angel.png?1381489656');
}
/* line 192, ../scss/about.scss */
.team_wrap .xuwong {
  background-image: url('../asset/avatar_xuwong.png?1381489369');
}
/* line 193, ../scss/about.scss */
.team_wrap .cat {
  background-image: url('../asset/avatar_cat.png?1381489656');
}

/* line 196, ../scss/about.scss */
.sequoiacap {
  float: left;
  width: 300px;
  height: 48px;
  background-image: url('../asset/sequoiacap.png?1381481366');
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (min-device-pixel-ratio: 2) {
  /* line 29, ../scss/about.scss */
  .sequoiacap {
    background-image: url('../asset/sequoiacap@2x.png?1381481353');
    -webkit-background-size: 300px auto;
    -moz-background-size: 300px auto;
    -o-background-size: 300px auto;
    background-size: 300px auto;
  }
}
