/* Reset */
/* line 5, ../scss/style.scss */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fcfcfc;
}

/* Header */
/* line 15, ../scss/style.scss */
header {
  border-top: 4px solid #924775;
  background: #111011;
  height: 58px;
  width: 100%;
  _position: relative;
  position: fixed;
  top: 0;
  left: 0;
}

/* Feature Banner */
/* line 30, ../scss/style.scss */
.feature {
  height: 630px;
  background: url('../asset/feature_bg.png?1380080926') repeat-y;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b2540), color-stop(100%, #2e465d));
  background-image: -webkit-linear-gradient(top, #0b2540, #2e465d);
  background-image: -moz-linear-gradient(top, #0b2540, #2e465d);
  background-image: -o-linear-gradient(top, #0b2540, #2e465d);
  background-image: linear-gradient(top, #0b2540, #2e465d);
}

/* Intro */
/* line 38, ../scss/style.scss */
.intro {
  height: 100px;
  -webkit-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3);
}
