@import "compass/css3";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
      & { @content; }
  }
}

html {
  height : 100%;
}

body {
  min-height : 100%;
  height     : 100%;
  position   : relative;
}

.about_content,.team_content {
  background : #f6f6f6;
  min-height : 50%;
  padding    : 1px 0 100px 0;
}

.about_content p {
  font-size: 18px;
}

.team_content p {
  font-size : 14px;
  color     : #ccc;
}

.about_nav {
  padding-top : 250px;
  position    : static;
  border      : none;
  height      : 80px;
  line-height : 80px;
  color       : #e0e0e0;
  font-size   : 18px;

  background-color : #383975;
  // @include background-image( linear-gradient(top, #461A7E, #132250) );
  @include box-shadow( inset 0 -5px 30px rgba(0,0,0,.1) );

  @media screen and (max-width: 490px) {
    & {
      font-size: 14px;
    }

    .nav_lnk {
      margin-right : 1em;
    }
  }

  @media screen and (max-width: 360px) {
    & {
      font-size: 12px;
    }
  }

  nav {
    background : none;
  }

  .nav_lnk {
    font-size : inherit;
    float     : left;
    display   : block !important;

    &:after {
      top : 55px;
    }
  }
}

.header_like_wrap {
  padding     : 0 80px;
  // max-width: 1180px - 80 * 2;
  max-width   : 1200px;
  margin      : 0 auto;

  @media screen and (min-width: 1600px) {
    & {
      max-width : 1200px;
      padding   : 0 100px;
    }
  }

  @media screen and (max-width: 980px) {
    & {
      padding : 0 40px;
    }
  }

  @media screen and (max-width: 400px) {
    & {
      padding : 0 20px;
    }
  }

  h2 {
    color      : #555;
    font-size  : 32px;
    font-weight: normal;
    margin-top : 60px;
  }
  h2:first-child {
    margin-top: 20px;
  }
}

.bj_map,
.sf_map {
  display   : inline-block;
  width     : 45%;
  margin-top: 0;

  &:after {
    content      : "";
    width        : 400px;
    height       : 300px;
    display      : block;
    border-radius: 4px;
    margin-top   : 10px;
    border       : 1px solid #ccc;
  }

  h3 {
    color:      #999;
    margin-top: 0;
  }

  li {
    list-style-type: square;
    margin-left    : 16px;
    color          : #666;
    font-style     : italic;
  }
}

.bj_map {
  margin-right: 4%;
}

.bj_map:after {
  background-image: image-url("bj_map.png");
}

.sf_map:after {
    background-image: image-url("sf_map.png");
}


.about_wrap {
  color: #666;
  max-width: 800px;
}

.team_wrap {
  margin-left : -20px;

  .avatar {
    width          : 268px;
    height         : 268px;
    float          : left;
    margin         : 0 0 20px 20px;
    overflow       : hidden;
    border         : 1px solid #848484;
    color          : #ccc;

    h3 {
      color       : #eee;
      height      : 50px;
      line-height : 50px;
      margin      : 0;
      overflow    : hidden;
      white-space : nowrap;
      font-size   : 16px;
      padding     : 0 10px;
      font-weight : normal;
    }

    p {
      padding : 0 10px;
    }

    div {
      @include translateY( 268px - 50 );
      width    : 100%;
      height   : 100%;
      background : rgba(#171115, 0.8);

      @include transition( transform .15s ease-in-out );
    }

    &:hover {
      div {
        @include translateY(0);
        @include transition-duration( .25s );
      }
    }
  }

  .lt-ie9 & .avatar {
    position : relative;

    div {
      position : absolute;
      left : 0;
      top  : 298px - 50;
      background : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA7CAYAAAAw23kDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABaSURBVHja7M9BEQAgCAAwpAEPz/59CEUP3BrsvLodC2UsJSYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJib2YWwAAAD//wMAfdgBfxhhGQYAAAAASUVORK5CYII=) repeat;
    }

    &:hover {
      div {
        top : 0;
      }
    }
  }

  .peng   { background-image : image-url("avatar_peng.jpg"); }
  .tibo   { background-image : image-url("avatar_tibo.jpg"); }
  .jimmy  { background-image : image-url("avatar_jimmy.jpg"); }
  .ken    { background-image : image-url("avatar_ken.jpg"); }
  .song   { background-image : image-url("avatar_song.jpg"); }
  .tim    { background-image : image-url("avatar_tim.jpg"); }
  .michael{ background-image : image-url("avatar_michael.jpg"); }
  .morris { background-image : image-url("avatar_morris.jpg"); }
  .paula  { background-image : image-url("avatar_paula.jpg"); }
  .georgia{ background-image : image-url("avatar_georgia.jpg"); }
  .xuwong { background-image : image-url("avatar_xuwong.jpg"); }
  .cat    { background-image : image-url("avatar_cat.jpg"); }
  .sisi { background-image : image-url("avatar_sisi.jpg"); }
  .cyril    { background-image : image-url("avatar_cyril.jpg"); }
}

.sequoiacap {
  float  : left;
  width  : image-width("sequoiacap.png");
  height : image-height("sequoiacap.png");
  background-image : image-url("sequoiacap.png");

  @include retina {
    background-image : image-url("sequoiacap@2x.png");
    @include background-size( image-width("sequoiacap.png") auto );
  }
}

.media {
  margin-top : 40px;

  li {
    padding-left  : 220px;
    margin-bottom : 80px;
    color         : #555;
    font-size     : 18px;
    background    : #f6f6f6 10px top no-repeat;

    h3 {
      font-size : 24px;
      color     : #555;
      margin-bottom : 1.2em;

      &:hover {
        text-decoration : underline;
      }
    }

    p a {
      margin-left : 0.3em;
      color : #3781c9;

      &:hover {
        color : darken(#3781c9, 10%);
        text-decoration: underline;
      }
    }
  }

  .awsblog { background-image : image-url("press/aws.jpg");}
  .gigaom { background-image : image-url("press/gigaom.jpg"); }
  .tnw    { background-image : image-url("press/tnw.jpg"); }
  .venture{ background-image : image-url("press/vb.jpg"); }
  .theregister { background-image : image-url("press/reg.jpg"); }
  .cloudave { background-image : image-url("press/cav.jpg"); }
  .cloudcom { background-image : image-url("press/ccj.jpg"); }
  .yourstory { background-image : image-url("press/ysi.jpg");}
  .techinasia { background-image : image-url("press/tia.jpg");}
  .technode { background-image : image-url("press/tn.jpg");}
  .startup50 { background-image : image-url("press/s50.jpg");}
  .techcrunch { background-image : image-url("press/tc.jpg");}
  .devops { background-image : image-url("press/devops.png"); background-size: 180px auto;}
}

.partner {
  &:after {
    content : " ";
    clear   : both;
  }
  li {
    width         : 266px;
    height        : 140px;
    float         : left;
    background    : #fff;
    margin-right  : 30px;
    margin-bottom : 20px;
    text-align    : center;
    color         : #676767;
    font-size     : 14px;
    border-radius : 4px;
    font-weight   : bold;
    position      : relative;
    border: 2px solid #d6d6d6;

    &:hover {
      background   : #fff;
      border-color : #9661C2;
    }

    a {
      position : absolute;
      left     : 0;
      top      : 0;
      display  : block;
      width    : 100%;
      height   : 100%;
    }

    div {
      height              : 80%;
      background-position : center center;
      background-repeat   : no-repeat;
    }
  }

  .cloudacademy { background-image : image-url("press/academy.png"); }
  .awspartner   { background-image : image-url("press/apn.png"); }
  .newvem       { background-image : image-url("press/newvem.png"); }
  .mongodb      { background-image : image-url("press/mongodb.png"); }
}


.terms_content {
  color : #555;
  max-width : 960px !important;
  width : 80% !important;
}

.contact_social {
  float : left;

  li {
    margin-left  : 0;
    margin-right : 10px;
  }
}

.link {
  color : #3781c9;

  &:hover {
    color : darken(#3781c9, 10%);
    text-decoration: underline;
  }
}

// Feature pages
.feature_banner {
  height      : 330px;
  line-height : 330px;
  background  : #383975;
  text-align  : center;
  font-size   : 30px;
  color       : #fff;
  -webkit-box-shadow: inset 0 -5px 30px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 -5px 30px rgba(0,0,0,.1);
  box-shadow: inset 0 -5px 30px rgba(0,0,0,.1);
  // background-image: -webkit-linear-gradient(top, #230853,#541C66);
  // background-image: -moz-linear-gradient(top, #230853,#541C66);
  // background-image: -o-linear-gradient(top, #230853,#541C66);
  // background-image: linear-gradient(to bottom, #230853,#541C66);
}

.feature_content {
  background : #FFF;
  color      : #667;

  header {
    text-align    : center;
    font-size     : 27px;
    font-weight   : bold;
    height        : 1em;
    margin-bottom : 40px;
  }

  article {
    max-width     : 1180px;
    width         : 90%;
    margin        : auto;
    padding-top   : 70px;
    border-bottom : 1px solid #ebebeb;
    padding-bottom: 60px;
    position      : relative
  }

  .feature_item {

    &:before {
      display          : list-item;
      width            : 30px;
      height           : 30px;
      border-radius    : 50%;
      background       : rgb( 138, 58, 206 );
      counter-increment: li-feature;
      content          : counter(li-feature);
      color            : #fff;
      text-align       : center;
      line-height      : 30px;
    }
  }

  .feature_img_wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width    : image-width("feature_01a.jpeg");

    .annotate {
      position: absolute;
      // background: red;
      counter-reset: li-feature;
      top: 0;
      left: 0;
      width: 100%;

      padding-bottom: percentage( image-height("feature_01a.jpeg") / image-width("feature_01a.jpeg") );

      ul {
        height: 100%;
      }

      li {
        position: absolute;

        &:hover::before {
          background       : #B515DD;
        }

        &:before {
          box-shadow: 0px 0px 10px 0px rgb( 0, 0, 0 );
          -webkit-transition: background .2s ease-in-out;
          -moz-transition: background .2s ease-in-out;
          -ms-transition: background .2s ease-in-out;
          -o-transition: background .2s ease-in-out;
          transition: background .2s ease-in-out;
        }

      }
    }

    .feature_img_b:before {
      height        : 0;
      content       : "";
      display       : block;
      background-size : 100% auto;
      background-repeat: no-repeat;
    }
  }

  article:last-child {
    border-bottom : none;
  }

  // @each $index in 1,2,3,4,5,6,7,8,9,10,11 {
  //   article:nth-child(#{$index}) aside {
  //     background-image:  image-url("feature_#{$index}.png")
  //   }
  // }
}

.feature_img {
  width        : 100%;
  height       : 0;
  border-radius: 10px;
  border       : 1px solid #222;
  box-shadow   : 0 0 20px rgba(0,0,0,.3);
  overflow     : hidden;
  margin       : 0 auto;

  background-size : 100% auto;

}

.feature_text {

  margin-top: 20px;
  counter-reset: li-feature;

  .feature_item {
    width       : 30%;
    margin-right: 5%;
    margin-top  : 20px;
    float       : left;
    position    : relative;

    @media screen and (max-width : 800px) {
      width: 80%;
      margin: 20px auto;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:before {
      position: absolute;
    }

    h4 {
      position   : absolute;
      left       : 40px;
      top        : 0;
      color      : #333;
      line-height: 30px;
      margin     : 0;
      font-size  : 1.2em;
    }

    p {
      color    : #666;
      font-size: 1em;
      margin-left: 40px;

      em {
        background: rgb(68, 133, 250);
        padding: 2px 4px;
        border-radius: 5px;
        color: #fff;
        font-style: normal;
      }

    }

    p:first-of-type {
        margin-top: 40px;
      }

    ul {
      margin-left: 40px;

      li {
        list-style-type: circle;
        list-style-position: inside;
      }

    }

  }
}

.feature_stack {

  .feature_img {
    background   : image-url("feature_01a.jpeg");
    padding-bottom  : percentage( image-height("feature_01a.jpeg") / image-width("feature_01a.jpeg") );

    @include retina() {
    & {
      background-image : image-url("feature_01a@2x.jpeg");
      background-size : 100% auto;
      }
    }
  }

  .feature_img_b {
      max-width     : image-width("feature_01b.png");

    &:before {
      width         : percentage( image-width("feature_01b.png") / image-width("feature_01a.jpeg") );
      background    : image-url("feature_01b.png");
      padding-bottom: percentage( image-height("feature_01b.png") / image-width("feature_01b.png") );

      position: absolute;
      top     : 57%;
      left    : 46%;

    }

    @include retina() {
    &:before {
        background-image : image-url("feature_01b@2x.png");
      }
    }
  }

  .annotate {

    li:first-child {
      top: 28%;
      left: 15.5%;
    }

    li:nth-child(2) {
      top: 62%;
      left: 44%;
    }

    li:nth-child(3) {
      top: 8%;
      left: 24%;
    }

    li:nth-child(4) {
      top: 8%;
      left: 46%;
    }

    li:nth-child(5) {
      top: 37%;
      left: 78%;
    }

  }

}

.feature_app {
    .feature_img {
    background   : image-url("feature_02a.jpeg");
    padding-bottom  : percentage( image-height("feature_02a.jpeg") / image-width("feature_02a.jpeg") );

    @include retina() {
    & {
      background-image : image-url("feature_02a@2x.jpeg");
      background-size : 100% auto;
      }
    }
  }

  .feature_img_b {
    max-width     : image-width("feature_02b.png");

    &:before {
      width         : percentage( image-width("feature_02b.png") / image-width("feature_02a.jpeg") );
      background    : image-url("feature_02b.png");
      padding-bottom: percentage( image-height("feature_02b.png") / image-width("feature_02b.png") );

      position: absolute;
      top     : 9.5%;
      left    : -15%;

    }

    @include retina() {
    &:before {
        background-image : image-url("feature_02b@2x.png");
      }
    }
  }

  .annotate {

    li:first-child {
      top: 7%;
      left: 72%;
    }

    li:nth-child(2) {
      top: 2%;
      left: 13%;
    }

    li:nth-child(3) {
      top: 20%;
      left: 2%;
    }

  }

}

.feature_dash {
    .feature_img {
    background   : image-url("feature_03.jpeg");
    padding-bottom  : percentage( image-height("feature_03.jpeg") / image-width("feature_03.jpeg") );

    @include retina() {
    & {
      background-image : image-url("feature_03@2x.jpeg");
      background-size : 100% auto;
      }
    }
  }

  .annotate {

    li:first-child {
      top: 11%;
      left: 19%;
    }

    li:nth-child(2) {
      top: 11%;
      left: 33%;
    }

    li:nth-child(3) {
      top: 18%;
      left: 8%;
    }

  }
}


.feature_content.dark {
  background  : #6F4D78;
  @include background-image(linear-gradient(#6F4D78, #382C57));

  color: #f0f0f0;

  .feature_item h4 {
    color: #fff;
  }

  .feature_item p {
    color: #fcfcfc;
  }
}
