@import "compass/css3";

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
      & { @content; }
  }
}

html {
  height : 100%;
}

body {
  min-height : 100%;
  height     : 100%;
}

.about_content {
  background : #f6f6f6;
  min-height : 100%;
  padding    : 1px 0 100px 0;
}

.about_nav {
  padding-top : 70px;
  position    : static;
  border      : none;
  height      : 80px;
  line-height : 80px;
  color       : #e0e0e0;
  font-size   : 18px;

  background-color : #9e569f;
  @include background-image( linear-gradient(top, #925193, #aa5aab) );
  @include box-shadow( inset 0 -5px 30px rgba(0,0,0,.1) );

  @media screen and (max-width: 490px) {
    & {
      font-size: 14px;
    }

    .nav_lnk {
      margin-right : 1em;
    }
  }

  @media screen and (max-width: 360px) {
    & {
      font-size: 12px;
    }
  }

  nav {
    background : none;
  }

  .nav_lnk {
    font-size : inherit;
    float     : left;
    display   : block !important;

    &:after {
      top : 55px;
    }
  }
}

.header_like_wrap {
  padding   : 0 80px;
  max-width : 1180px - 80 * 2;
  margin    : 0 auto;

  @media screen and (min-width: 1600px) {
    & {
      max-width : 1306px;
      padding   : 0 100px;
    }
  }

  @media screen and (max-width: 980px) {
    & {
      padding : 0 40px;
    }
  }

  @media screen and (max-width: 400px) {
    & {
      padding : 0 20px;
    }
  }

  h2 {
    color       : #555;
    font-size   : 32px;
    font-weight : normal;
  }
}


.team_wrap {
  margin-left : -20px;

  .avatar {
    width      : 298px;
    height     : 298px;
    float      : left;
    margin     : 0 0 20px 20px;
    overflow   : hidden;
    border     : 1px solid #848484;
    color      : #ccc;

    h3 {
      height      : 50px;
      line-height : 50px;
      margin      : 0;
      overflow    : hidden;
      white-space : nowrap;
      font-size   : 16px;
      padding     : 0 10px;
      font-weight : normal;
    }

    p {
      padding : 0 10px;
    }

    div {
      @include translateY( 298px - 50 );
      width    : 100%;
      height   : 100%;
      background : rgba(#171115, 0.8);

      @include transition( transform .15s ease-in-out );
    }

    &:hover {
      div {
        @include translateY(0);
        @include transition-duration( .25s );
      }
    }
  }

  .lt-ie9 & .avatar {
    position : relative;

    div {
      position : absolute;
      left : 0;
      top  : 298px - 50;
      background : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA7CAYAAAAw23kDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABaSURBVHja7M9BEQAgCAAwpAEPz/59CEUP3BrsvLodC2UsJSYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJib2YWwAAAD//wMAfdgBfxhhGQYAAAAASUVORK5CYII=) repeat;
    }

    &:hover {
      div {
        top : 0;
      }
    }
  }

  .peng   { background-image : image-url("avatar_peng.jpg"); }
  .tibo   { background-image : image-url("avatar_tibo.jpg"); }
  .ada    { background-image : image-url("avatar_ada.jpg"); }
  .jimmy  { background-image : image-url("avatar_jimmy.jpg"); }
  .ken    { background-image : image-url("avatar_ken.jpg"); }
  .song   { background-image : image-url("avatar_song.jpg"); }
  .tim    { background-image : image-url("avatar_tim.jpg"); }
  .michael{ background-image : image-url("avatar_michael.jpg"); }
  .morris { background-image : image-url("avatar_morris.jpg"); }
  .paula  { background-image : image-url("avatar_paula.jpg"); }
  .kenshin{ background-image : image-url("avatar_kenshin.jpg"); }
  .angel  { background-image : image-url("avatar_angel.jpg"); }
  .xuwong { background-image : image-url("avatar_xuwong.jpg"); }
  .cat    { background-image : image-url("avatar_cat.jpg"); }
}

.sequoiacap {
  float  : left;
  width  : image-width("sequoiacap.png");
  height : image-height("sequoiacap.png");
  background-image : image-url("sequoiacap.png");

  @include retina {
    background-image : image-url("sequoiacap@2x.png");
    @include background-size( image-width("sequoiacap.png") auto );
  }
}

.media {
  margin-top : 40px;

  li {
    padding-left  : 220px;
    margin-bottom : 80px;
    color         : #555;
    font-size     : 18px;
    background    : #f6f6f6 10px top no-repeat;

    h3 {
      font-size : 24px;
      color     : #555;
      margin-bottom : 1.2em;

      &:hover {
        text-decoration : underline;
      }
    }

    p a {
      margin-left : 0.3em;
      color : #3781c9;

      &:hover {
        color : darken(#3781c9, 10%);
        text-decoration: underline;
      }
    }
  }

  .awsblog { background-image : image-url("press/aws.jpg");}
  .gigaom { background-image : image-url("press/gigaom.jpg"); }
  .tnw    { background-image : image-url("press/tnw.jpg"); }
  .venture{ background-image : image-url("press/vb.jpg"); }
  .theregister { background-image : image-url("press/reg.jpg"); }
  .cloudave { background-image : image-url("press/cav.jpg"); }
  .cloudcom { background-image : image-url("press/ccj.jpg"); }
  .yourstory { background-image : image-url("press/ysi.jpg");}
  .techinasia { background-image : image-url("press/tia.jpg");}
  .technode { background-image : image-url("press/tn.jpg");}
  .startup50 { background-image : image-url("press/s50.jpg");}
  .techcrunch { background-image : image-url("press/tc.jpg");}
}


.terms_content {
  color : #555;
  max-width : 960px !important;
  width : 80% !important;
}

.contact_social {
  float : left;

  li {
    margin-left  : 0;
    margin-right : 10px;
  }
}

.link {
  color : #3781c9;

  &:hover {
    color : darken(#3781c9, 10%);
    text-decoration: underline;
  }
}

// Feature pages
.feature_banner {
  height      : 330px;
  line-height : 330px;
  background  : #530fc2;
  text-align  : center;
  font-size   : 30px;
  color       : #fff;
  -webkit-box-shadow: inset 0 -5px 30px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 -5px 30px rgba(0,0,0,.1);
  box-shadow: inset 0 -5px 30px rgba(0,0,0,.1);
  background-image: -webkit-linear-gradient(top, #7b4c8f, #444185);
  background-image: -moz-linear-gradient(top, #7b4c8f, #444185);
  background-image: -o-linear-gradient(top, #7b4c8f, #444185);
  background-image: linear-gradient(to bottom, #7b4c8f, #444185);
}

.feature_content {
  background : #FFF;
  color      : #667;

  header {
    text-align    : center;
    font-size     : 27px;
    font-weight   : bold;
    height        : 1em;
    margin-bottom : 85px;
  }

  article {
    max-width      : 1080px;
    width          : 90%;
    margin         : auto;
    padding-top    : 70px;
    border-bottom  : 1px solid #ebebeb;
    padding-bottom : 60px;
  }

  aside {
    width        : 50%;
    height       : 300px;
    float        : right;
    margin       : 0 0 0 5%;
    background   : silver;
    border-radius: 4px;
    overflow     : hidden;
  }

  article:nth-child(2n+1) aside {
    float  : left;
    margin : 0 5% 0 0;
  }

  article:last-child {
    border-bottom : none;
  }
}
