
@import "compass/css3";
@import "normalize";

/* Generic stuff */
@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
      & { @content; }
  }
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;

  src: url('../asset/lato-reg.eot');
  src: url('../asset/lato-reg.eot?#iefix') format('embedded-opentype'),
       url('../asset/lato-reg.woff') format('woff'),
       url('../asset/lato-reg.ttf') format('truetype'),
       url('../asset/lato-reg.svg#latoregular') format('svg');
}

$mc2BgColor : #fcfcfc;
html, body {
  margin     : 0;
  padding    : 0;
  background : $mc2BgColor;
}

html,
button,
input,
select,
textarea {
    font-family : Lato, Helvetica, Arial, sans-serif;
}


/* Header */
$headerHeight : 58px;

header {
  height : $headerHeight + 3px; /* nav has 3px border */
}

.nav_wrap {
  border-top : 4px solid #924775;
  background : #111011;

  height      : $headerHeight;
  line-height : $headerHeight;
  width       : 100%;

  _position : relative;
  position  : fixed;
  top       : 0;
  left      : 0;
  z-index   : 10;

  overflow  : hidden;
  font-size : 14px;

}

.nav_wrap nav {
  color   : #ccc;

  padding   : 0 80px;
  max-width : 1180px - 80 * 2;
  height    : 100%;
  margin    : 0 auto;

  background : image-url("logo.png") 80px center no-repeat;

  _background-image : image-url("logo_ie6.png");

  @include retina() {
    background-image : image-url("logo@2x.png");
    @include background-size( image-width("logo.png"), auto );
  }
}

.nav_lnk {
  position    : relative;
  height      : 58px;
  display     : inline-block;
  font-size   : 16px;
  float       : right;
  margin-left : 55px;

  @include transition( color .2s linear );

  &:hover {
    color : #f0f0f0;
  }
}

.lt-ie8 {
  .nav_lnk:hover {
    border-bottom : 3px solid #fff;
  }
}

.nav_lnk:after {
  content    : ' ';
  position   : absolute;
  left       : 50%;
  width      : 0;
  height     : 3px;
  background : #fff;
  top        : 40px;

  @include transition( all .15s ease-in-out );
}

.nav_lnk.selected:after, .nav_lnk:hover:after {
  width : 100%;
  left  : 0;
}

.nav_user {
  float       : right;
  width       : 180px;
  height      : $headerHeight;
  margin-left : 20px;
  font-size   : 14px;
  text-align  : center;
  color       : #fff;
}

.nav_user span {
  display : none;
}

.nav_ide {
  width      : 145px;
  text-align : center;
  float      : right;
  height     : $headerHeight;
}

.nav_register, .nav_login {
  width      : 90px;
  height     : $headerHeight;
  float      : right;
  background : #3781c9;

  &:hover {
    background : darken(#3781c9, 5%);
  }

  @include transition( background .2s linear );
}

.nav_login, .nav_ide {
  background : #a55789;

  &:hover {
    background : darken(#a55789, 5%);
  }
}

@media screen and (max-width: 880px) {
  .nav_lnk {
    font-size : 14px;
    margin-left : 20px;
  }
}

@media screen and (max-width: 980px) {
  .nav_wrap nav {
    padding : 0 40px;
    background-position : 40px center;
  }
}


@media screen and (min-width: 1600px) {
  .nav_wrap nav {
    max-width : 100px * 10 + 11 * 24; /* Column width 100px, gutter width 24px */
    padding   : 0 100px;
  }

  .nav_user {
    margin-left : 2 * 100px + 2 * 24px - 180;
  }
}


/* Feature Banner */
.features {
  background : image-url("feature_bg.png") repeat-y;
  @include background-image( linear-gradient(top, #0b2540, #2e465d) );

  height : 630px;
  width  : 100%;

  position : fixed;
  z-index  : 3;
}

.features_ph {
  height   : 630px;
  position : relative;
  z-index  : 2;
}




/* Intro */
.intro {
  height : 1000px;
  @include box-shadow( 0 -10px 20px rgba(0,0,0,0.3) );

  position : relative;
  z-index  : 4;

  background : $mc2BgColor;
}
