
@import "compass/css3";
@import "normalize";

/* Generic stuff */
@mixin retina {
  @media (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-device-pixel-ratio: 2) {
      & { @content; }
  }
}

@font-face {
  font-family : 'Lato';
  font-weight : 400;

  src: url('../asset/lato-reg.eot');
  src: url('../asset/lato-reg.eot?#iefix') format('embedded-opentype'),
       url('../asset/lato-reg.woff') format('woff'),
       url('../asset/lato-reg.ttf') format('truetype'),
       url('../asset/lato-reg.svg#latoregular') format('svg');
}

@font-face {
  font-family : 'Lato';
  font-weight : bold;

  src: url('../asset/lato-bold.eot');
  src: url('../asset/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('../asset/lato-bold.woff') format('woff'),
       url('../asset/lato-bold.ttf') format('truetype'),
       url('../asset/lato-bold.svg#latoregular') format('svg');
}

$mc2BgColor : #f0eeef;
html, body {
  margin     : 0;
  padding    : 0;
  background : $mc2BgColor;
}

html,
button,
input,
select,
textarea {
    font-family : Lato, Helvetica, Arial, sans-serif;
}

ul, li {
  list-style : none;
  padding    : 0;
  margin     : 0;
}


h1 {
  font-size     : 24px;
  color         : #808d99;
  text-align    : center;
  font-weight   : bold;
  margin-top    : 0;
  margin-bottom : 64px;
}

.clearfix {
  &:after {
    content : " ";
    clear   : both;
    display : block;
  }
  *zoom : 1;
}

/* Header */
$headerHeight : 58px;

header {
  height : $headerHeight + 3px; /* nav has 3px border */
}

.nav_wrap {
  border-top : 4px solid #924775;
  background : #111011;

  height      : $headerHeight;
  line-height : $headerHeight;
  width       : 100%;

  _position : relative;
  position  : fixed;
  top       : 0;
  left      : 0;
  z-index   : 10;

  overflow  : hidden;
  font-size : 14px;

}

.nav_wrap nav {
  color   : #ccc;

  padding   : 0 80px;
  max-width : 1180px - 80 * 2;
  height    : 100%;
  margin    : 0 auto;

  background : image-url("logo.png") 80px center no-repeat;

  _background-image : image-url("logo_ie6.png");

  @include retina() {
    background-image : image-url("logo@2x.png");
    @include background-size( image-width("logo.png"), auto );
  }
}

.nav_lnk {
  position    : relative;
  height      : 58px;
  display     : inline-block;
  font-size   : 16px;
  float       : right;
  margin-left : 55px;

  @include transition( color .2s linear );

  &:hover {
    color : #f0f0f0;
  }
}

.lt-ie8 {
  .nav_lnk:hover {
    border-bottom : 3px solid #fff;
  }
}

.nav_lnk:after {
  content    : ' ';
  position   : absolute;
  left       : 50%;
  width      : 0;
  height     : 3px;
  background : #fff;
  top        : 40px;

  @include transition( all .15s ease-in-out );
}

.nav_lnk.selected:after, .nav_lnk:hover:after {
  width : 100%;
  left  : 0;
}

.nav_user {
  float       : right;
  width       : 180px;
  height      : $headerHeight;
  margin-left : 20px;
  font-size   : 14px;
  text-align  : center;
  color       : #fff;
}

.nav_user span {
  display : none;
}

.nav_ide {
  width      : 145px;
  text-align : center;
  float      : right;
  height     : $headerHeight;
}

.nav_register, .nav_login {
  width      : 90px;
  height     : $headerHeight;
  float      : right;
  background : #3781c9;

  &:hover {
    background : darken(#3781c9, 5%);
  }

  @include transition( background .2s linear );
}

.nav_login, .nav_ide {
  background : #a55789;

  &:hover {
    background : darken(#a55789, 5%);
  }
}

@media screen and (max-width: 880px) {
  .nav_lnk {
    font-size : 14px;
    margin-left : 20px;
  }
}

@media screen and (max-width: 980px) {
  .nav_wrap nav {
    padding : 0 40px;
    background-position : 40px center;
  }
}


@media screen and (min-width: 1600px) {
  .nav_wrap nav {
    max-width : 100px * 10 + 11 * 24; /* Column width 100px, gutter width 24px */
    padding   : 0 100px;
  }

  .nav_user {
    margin-left : 2 * 100px + 2 * 24px - 180;
  }
}


/* Feature Banner */
.features {
  background : image-url("feature_bg.png") repeat-y;
  @include background-image( linear-gradient(top, #0b2540, #2e465d) );

  height : 630px;
  width  : 100%;

  position : fixed;
  z-index  : 3;
}

.features_ph {
  height   : 630px;
  position : relative;
  z-index  : 2;
}




/* Shared */
.cover {
  position : relative;
  z-index  : 4;

  padding-top : 33px;
  overflow-x  : hidden;
}




/* Intro */
.intro {
  @include box-shadow( 0 -10px 20px rgba(0,0,0,0.3) );

  background : $mc2BgColor image-url("intro_bg.png") left bottom repeat-x;
  padding-bottom : 80px;



  @include retina() {
    background-image : image-url("intro_bg@2x.png");
    @include background-size( image-width("intro_bg.png"), auto );
  }
}

.intro_wrap {
  width  : 380px * 3 + 20 * 2;
  margin : 0 auto;

  @extend .clearfix;

  .last {
    margin-right : 0;
  }
}

.intro_block {
  /* This is for screenwidth >= 1280 */
  width        : 380px;
  float        : left;
  margin-right : 20px;
  text-align   : center;
  color        : #667;
  font-size    : 16px;
  line-height  : 24px;

  h2 {
    font-size     : 24px;
    font-weight   : bold;
    margin-top    : 16px;
    margin-bottom : 13px;
  }

}

.intro_img {
  width  : 292px;
  height : 197px;
  margin : 0 auto;

  border        : 4px solid #fff;
  border-radius : 4px;
  @include box-shadow( 0 2px 5px rgba(176,176,176,.6) );

  background-color : #c8c8c8;
}




/* Services */
.services {
  height      : 600px;
  background  : #1e1c2a;

  h1 {
    color : #adbcca;
  }
}





/* Vision */
.vision {
  background     : #3781c9;
  padding-bottom : 40px;

  h1 {
    color : #c7d5e2;
  }

  blockquote {
    color       : #fff;
    font-family : "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-style  : italic;
    font-size   : 22px;

    width     : 80%;
    max-width : 1020px - 120 * 2;
    padding   : 0 120px;

    margin        : 0 auto;
    margin-bottom : 42px;
  }
}

.emphasize {
  border-bottom : 1px solid #fff;
}





/* Social media */
$social_img_width  : 200px;
$social_img_height : 40px;

.socialmedia {

  $socialHeight     : 180px;
  $socialPaddingTop : ceil(($socialHeight - $social_img_height) / 2);

  background  : #F8F8F8;
  text-align  : center;
  line-height : $social_img_height + 20px;
  padding     : $socialPaddingTop 0;
  font-size   : 3em;
}

.social_wrap {
  width  : 90%;
  margin : 0 auto;
}

.social_post{
  text-indent : 100000px;
  overflow    : hidden;
  display     : inline-block;
  *zoom       : 1;

  width  : $social_img_width;
  height : $social_img_height;

  background: rgba(red, 0.1);
}


.sp_gigaom {
}

.sp_thenextweb {
}

.sp_venturebeat {
}

.sp_theregister {
}

.sp_aws {
}
