<% include _header %>
        <% include _about_nav %>

    <section class="about_content">
      <div class="header_like_wrap">
        <h2>Where to Find Us?</h2>

        <div class="sf_map">
          <h3>San Francisco Office</h3>
          <ul>
            <li>
              <p>795 Folsom St, San Francisco, CA, USA</p>
            </li>
            <li>+1 2063882423</li>
          </ul>
        </div>
        <div class="bj_map">
          <h3>Beijing Office</h3>
          <ul>
            <li>
              <p>Xueyuannanlu 12, Building 54, #126, Haidian, Beijing, China</p>
            </li>
            <li>+86 10 82582430</li>
          </ul>
        </div>
        <h2>Get In Touch</h2>
        <p>Have suggestion, questions, need support or simply want to chat? Don't hesitate to contact <a class="link" href="mailto:contact@visualops.io">contact@visualops.io</a>.</p>
        <p>Interested to work with us? Show us yourself to <a class="link" href="mailto:hr@visualops.io">hr@visualops.io</a>.</p>
        <h2>MadeiraCloud Around the Web</h2>
        <ul class="contact_social network_wrap">
          <li><a href="https://github.com/MadeiraCloud" title="MadeiraCloud on Github" class="network github" target="_blank">Github</a></li>
          <li><a href="http://www.twitter.com/madeiracloud" title="Follow Us on Twitter" class="network twitter" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/madeiracloud" title="Like us on Facebook" class="network facebook" target="_blank">Facebook</a></li>
          <li><a href="https://plus.google.com/u/0/109295117031738876065/posts" title="Add us to a Circle on Google+" class="network gplus" target="_blank">Google+</a></li>
          <li><a href="http://vimeo.com/madeiracloud" title="Watch our Videos on Vimeo" class="network vimeo" target="_blank">Vimeo</a></li>
          <li><a href="http://www.linkedin.com/company/madeiracloud" class="network linkedin" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    </section>


    <% include _interested %>
  <% include _footer %>
