<% include _header %>

    <section class="feature_banner">
      FEATURES
    </section>

    <section class="feature_content">
      <article class="clearfix feature_stack">
        <header>Creation</header>
        <div class="feature_img_wrap">
          <div class="feature_img"></div>
          <div class="feature_img_b"></div>
          <div class="annotate">
            <ul>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
            </ul>
          </div>
        </div>
        <ul class="feature_text">
          <li class="feature_item">
            <h4>Drag-n-drop to Build</h4>
            <p>Building the infrastructure has never been easier than with VisualOps. With its "WYSIWYG" approach, just focus on the architecture design.No new DSL, and no new syntax.</p>
          </li>
          <li class="feature_item">
            <h4>DevOps made easy</h4>
            <p>Built-in modules to configure the instances, e.g. package, file, git, service, etc.</p>
            <p>Service discovery is a real breeze: i.e. <em>@{db_instance.PrivateIpAddress}</em></p>
          </li>
          <li class="feature_item">
            <h4>One Click to Launch</h4>
            <p>We take care of all the heavy-lifting: provisioning the resources, configuring the instances and deploying the code. Give yourself a break; by the time you're back, the app will be ready to use.</p>
          </li>
          <li class="feature_item" style="clear:left;">
            <h4>Export</h4>
            <p>You can export your design to png files for demoing the system.</p>
            <p>You can export your design to CloudFormation scripts.</p>
            <p>You can export your design json files, for collaborative deployment or version control.</p>
          </li>
          <li class="feature_item">
            <h4>Cost Estimation</h4>
            <p>VisualOps provides you with real-time cost estimation when you design the app, with a detailed bill broken down to each service.</p>
          </li>
        </ul>
      </article>
      <article class="clearfix feature_app">
        <header>Management</header>
        <div class="feature_img_wrap">
          <div class="feature_img"></div>
          <div class="feature_img_b"></div>
          <div class="annotate">
            <ul>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
            </ul>
          </div>
        </div>
        <ul class="feature_text">
          <li class="feature_item">
            <h4>App Ensure</h4>
            <p>VisualOps automates the configuration process to ensure your app always runs in the defined state, EVEN IF:</p>
            <ul>
              <li>AutoScaling is triggered</li>
              <li>Any instance is rebooted</li>
              <li>New code version is deployed</li>
              <li>Service has crashed</li>
            </ul>
          </li>
           <li class="feature_item">
            <h4>Lifecycle Management</h4>
            <p>Complete lifecycle features are supported to let you manage the application:</p>
            <p>launch/update/start/stop/reboot/terminate</p>
          </li>
          <li class="feature_item">
            <h4>Change Validation</h4>
            <p>VisualOps validates any change before applying. No nasty surprise!</p>
          </li>
        </ul>
      </article>
      <article class="clearfix feature_dash">
        <header>And Much More</header>
        <div class="feature_img_wrap">
          <div class="feature_img"></div>
          <div class="annotate">
            <ul>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
              <li class="feature_item"></li>
            </ul>
          </div>
        </div>
        <ul class="feature_text clearfix">
           <li class="feature_item">
            <h4>Import</h4>
            <p>Have a previously exported json file from VisualOps? Just import here.</p>
          </li>
          <li class="feature_item">
            <h4>Visualize your AWS</h4>
            <p>Want to visualize your current AWS deployment? No a problem, Import the existing resources and generate the relative diagram automatically.</p>
          </li>
          <li class="feature_item">
            <h4>Global View</h4>
            <p>If you are currently lacking a global view of your AWS account, here is one for you. All regions and services can be seen in one place.</p>
          </li>
        </ul>
      </article>
    </section>

<% include _interested %>
<% include _footer %>