<% include _header %>

    <section class="index_banner">
      <div class="banner_wrap">
        <h1>Visual Automation for AWS</h1>
      </div>
      <div class="banner_btn_group">
        <a href="https://ide.visualops.io/register/" class="banner_btn banner_register" target="_blank">Sign Up Free</a>
        <a href="https://ide.visualops.io" class="banner_btn banner_ide" target="_blank">Launch IDE</a>
      </div>
      <div class="slider-control">
        <div class="circle active"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="svg-box">

      </div>

    </section>

    <section class="approve_list">
        
    </section>

    <section class="socialmedia cover">
      <div class="social_wrap">
        <a rel="nofollow" class="social_post sp_gigaom" href="http://gigaom.com/2013/05/09/madeiracloud-nets-1-5m-to-watch-your-amazon-cloud/" target="_blank">MadeiraCloud nets $1.5M to paint a pretty picture of your Amazon cloud</a>

        <a rel="nofollow" class="social_post sp_thenextweb" href="http://thenextweb.com/insider/2013/05/09/madeiracloud-picks-up-funding-from-sequoia-capital-for-its-visual-cloud-interface/" target="_blank">MadeiraCloud picks up $1.5M in Series A funding from Sequoia Capital for its visual cloud interface</a>

        <a rel="nofollow" class="social_post sp_venturebeat" href="http://venturebeat.com/2013/05/09/madeiracloud/" target="_blank">MadeiraCloud nabs $1.5M from Sequoia for AWS-based visual cloud management</a>

        <a rel="nofollow" class="social_post sp_theregister" href="http://www.theregister.co.uk/2013/05/09/amazon_madeiracloud_funding/" target="_blank">MadeiraCloud trousers $1.5 million to explain AWS to bosses</a>

        <a rel="nofollow" class="social_post sp_aws" href="https://aws.amazon.com/solution-providers/isv/madeiracloud" target="_blank">AWS Partner Network</a>
      </div>
    </section>

<% include _interested %>
<% include _footer %>