<% include _header %>

    <section class="index_banner">
      <div class="banner_wrap">
        <h1>Ensure your app always runs as you designed it</h1>
        <p>Visual DevOps Automation for Amazon Web Services</p>
      </div>
      <div class="banner_btn_group">
        <a href="https://ide.visualops.io/register/" class="banner_btn banner_register" target="_blank">Sign Up Free</a>
        <a href="https://ide.visualops.io" class="banner_btn banner_ide" target="_blank">Launch IDE</a>
      </div>
      <div class="banner_img_wrap"> <div class="banner"></div> <div class="banner_line"></div><div class="banner_state"></div><div class="ensure_icon"></div> </div>

    </section>

    <section class="intro cover">
      <!--<div class="hiw_bg" data-top="background-color:rgb(111,77,120);" data-bottom-bottom="background-color:rgb(56,44,87);"></div>
       <div class="hiw_bg_gradient"></div> -->

      <h1>HOW IT WORKS</h1>
      <div class="intro_wrap">
        <article class="hiw hiw_01" data-300-top="" data-400-top-bottom="">
          <div class="hiw_content">
            <h3>Build</h3>
            <p>Visual builder for your cloud applications</p>

            <ul>
              <li>Drag-n-drop to build the infrastructure</li>
              <li>Connect the ports to setup the network</li>
              <li>Click on instances to configure the software layer, e.g. packages, files, code, services, etc.</li>
              <li>"All-in-one" stack for provisioning and version control</li>
            </ul>
          </div>
          <div class="hiw_img"></div>
        </article>

        <article class="hiw hiw_02 alt" data-300-top="" data-400-top-bottom="">
          <div class="hiw_content">
            <h3>Run</h3>
            <p>One-click to launch the stacks into ready-to-use apps</p>
            <p>Easy, Fast, Repeatable! </p>

            <ul>
              <li>Runtime validation to prevent errors and risks, as well as best-practice advices</li>
              <li>Start, stop, reboot, terminate, one click to manage the system. No resource left away!</li>
            </ul>
          </div>
          <div class="hiw_img"></div>
        </article>

        <article class="hiw hiw_03" data-300-top="" data-400-top-bottom="">
          <div class="hiw_content">
            <h3>Update</h3>
            <p>Edit your app at any time, the same way as you designed it</p>
            <p>Ready? Just click on "Apply" and we get the job done, safely</p>
          </div>
          <div class="hiw_img"></div>
        </article>

        <article class="hiw hiw_04 alt" data-300-top="" data-400-top-bottom="">
          <div class="hiw_content">
            <h3>Ensure</h3>
            <p>The only thing that matters is your app</p>
            <p>By doing automation, we keep your app always running in the state you defined</p>
          </div>
          <div class="hiw_img"></div>
        </article>
         <article class="tac hiw_faq">Have any questions? Read our <a href="/faq">FAQ</a>.</article>
      </div>
      <svg id="hiw_lines" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"></svg>

    </section>

    <section class="services cover">
      <h1>SUPPORTED SERVICES</h1>

      <div class="service_tags hide" id="mcServices">
        <span class="tag green">EC2</span>
        <span class="tag orange">Elastic Load Blancing</span>
        <span class="tag purple">VPC</span>
        <span class="tag lightblue">Auto Scaling</span>
        <span class="tag red">CloudWatch</span>
        <span class="tag blue">SNS</span>
        <span class="tag gray">More Coming Soon...</span>
      </div>

      <div class="dashboard">
        <div class="dashboard_wrap">
          <div class="control"></div>
          <div class="content"></div>
        </div>
      </div>
    </section>

    <section class="socialmedia cover">
      <div class="social_wrap">
        <a rel="nofollow" class="social_post sp_gigaom" href="http://gigaom.com/2013/05/09/madeiracloud-nets-1-5m-to-watch-your-amazon-cloud/" target="_blank">MadeiraCloud nets $1.5M to paint a pretty picture of your Amazon cloud</a>

        <a rel="nofollow" class="social_post sp_thenextweb" href="http://thenextweb.com/insider/2013/05/09/madeiracloud-picks-up-funding-from-sequoia-capital-for-its-visual-cloud-interface/" target="_blank">MadeiraCloud picks up $1.5M in Series A funding from Sequoia Capital for its visual cloud interface</a>

        <a rel="nofollow" class="social_post sp_venturebeat" href="http://venturebeat.com/2013/05/09/madeiracloud/" target="_blank">MadeiraCloud nabs $1.5M from Sequoia for AWS-based visual cloud management</a>

        <a rel="nofollow" class="social_post sp_theregister" href="http://www.theregister.co.uk/2013/05/09/amazon_madeiracloud_funding/" target="_blank">MadeiraCloud trousers $1.5 million to explain AWS to bosses</a>

        <a rel="nofollow" class="social_post sp_aws" href="https://aws.amazon.com/solution-providers/isv/madeiracloud" target="_blank">AWS Partner Network</a>
      </div>
    </section>

<% include _interested %>
<% include _footer %>