<% include _header %>
<% include _about_nav %>

    <section class="about_content">

      <div class="header_like_wrap">
        <h2>Partners</h2>
        <ul class="partner clearfix">
          <li>
            <a href="http://aws.amazon.com/partners/" target="_blank" rel="nofollow" title="Amazon Web Services"></a>
            <div class="awspartner"></div>
            <span>Amazon Web Services</span>
          </li>
          <li>
            <a href="https://cloudacademy.com/" target="_blank" rel="nofollow" title="CloudAcademy"></a>
            <div class="cloudacademy"></div>
            <span>CloudAcademy</span>
          <li>
            <a href="http://www.newvem.com/" target="_blank" rel="nofollow" title="newvem"></a>
            <div class="newvem"></div>
            <span>newvem</span>
          </li>
          <li>
            <a href="http://www.mongodb.com/" target="_blank" rel="nofollow" title="MongoDB"></a>
            <div class="mongodb"></div>
            <span>MongoDB</span>
          </li>
          <li>
              <a href="http://www.redhat.com/en" target="_blank" rel="nofollow" title="redhat"></a>
              <div class="redhat"></div>
              <span>Red Hat</span>
          </li>
          <li>
            <a href="http://www.vmware.com/" target="_blank" rel="nofollow" title="vmware"></a>
            <div class="vmware"><span>Partner Network</span></div>
            <span>VMware</span>
          </li>
        </ul>
      </div>

    </section>


<% include _interested %>
<% include _footer %>
