<% include _header %>

    <section class="feature_banner feature_banner_pricing">
        <!-- Pay Per Usage -->
        All features available in both options
        <!-- <h5><b class="pricing-em">$0.01</b> / Instance Hour</h5> -->
    </section>

    <section class="pricing">
        <div class="price-table">
            <header class="personal">
                <h4>Personal Workspace</h4>
                <div>
                    <p><b class="pricing-em">3,600 Free</b> Instance Hours/Month *</p>
                    <p class="pricing-desc">(Will run 5 instances for a month)</p>
                </div>
                <!-- <h5>Best for individual project</h5> -->
            </header>

            
            <header class="team">
                <h4>Team Workspace*</h4>
                <div>
                    <p><b class="pricing-em">$0.01</b> / Instance Hour</p>
                    <p class="pricing-desc">(It is just that simple)</p>
                </div>
                <!-- <h5>Invite up to 10 members</h5> -->
            </header>
            <div class="pricing-footnote pricing-footnote-left">*Additional usage beyound free allocation will cost $0.01/ Inshance Hour</div>
            <div class="pricing-footnote pricing-footnote-right">*Up to 10 members</div>
        </div>
        <div class="price-line-wrap">
           <!--  <div class="price-line compact main-line">
                    All features available in both options
            </div> -->
           <!--  <div class="price-line">
                    Design AWS infrastructure. WYSIWYG
            </div>
            <div class="price-line">
                    Manage application lifecycle. Run, stop, update &amp; terminate
            </div>
            <div class="price-line">
                    Ensure Instance State. Real-time monitoring of app changes.
            </div>
            <div class="price-line">
                    Import Existing AWS infrastructure.
            </div> -->
            <div class="price-line compact main-line">
                    <div class="def">An <em>instance hour</em> is counted when one or both of these conditions are met: <p><span>VisualOps agent is running in your instance</span> and/or <span>your instance is being monitored by VisualOps</span></p></div>
                    <a class="banner_btn btn-pricing" href="https://ide.visualops.io/register/">
                        Get Started Free
                        <span>No Credit Card Required Upfront</span>
                    </a>
            </div>
        </div>
        <div class="enterprise-package">
            <h4>Want More? <a class="btn-contact-us" href="mailto:contact@visualops.io">Contact Us</a></h4>
            <ul>
                <li>Deploy private VisualOps on your Server</li>
                <li>Tyr out VisualOps for OpenStack</li>
                <li>Collaborate with > 10 members in one workspace</li>
            </ul>

        </div>
    </section>
<!--     <section class="price-faqs">
        <h3>FAQ</h3>
        <div class="faq-content">
            <div class="price-faq">
                <h4>1. How is usage point counted?</h4>
                <p>
                    Instance hour are used when instances enable <a
                        href="http://docs.visualops.io/getting_started/instance_state.html" target="_blank">Instance State</a> or when apps enable
                    <a href="http://docs.visualops.io/app_management/track_app_changes.html" target="_blank">change monitoring</a>. If an instance has both Instance State and Change Monitoring enabled, it will consume 1 instance hour per hour.
                </p>
                <p>
                    For example, if you have a running app containing 10 instances, enabling both Instance State and Change Monitoring, it would consume <code>240 points</code> per day. For a 30-day month, it would consume <code>7,200 points</code> if running continuously.
                </p>
                <p>A stopped app will not not use up any of your instance hours.</p>
            </div>
            <div class="price-faq">
                <h4>2. How do I upgrade to become a paid user?</h4>
                <p>You can upgrade to the Pro plan at any time simply by providing your billing information to our secure 3rd party payment service <i>Chargify</i>. Click on the user menu in the top right corner of VisualOps IDE, then selct "Billing". Here you can upgrade your account and review your usage. In the Billing window, open "Provide Billing Information". A new browser window will open to provide Chargify with the necessary details. Once this is done just switch back to VisualOps IDE and you will find your account has been instantly upgraded to the Pro plan.</p>
            </div>
            <div class="price-faq">
                <h4>3. What is the billing cycle?</h4>
                <p>Each month, your account will be renewed with 3,600 free instance hour for both our free and paid users.</p>
                <p>
                    If you are paid user, your billing day will be the same day that your free quota is renewed. On that day, we will charge you according to the usage of the month just gone.
                </p>
                <p>
                    For users registered before we launched the price plan, your billing day will be the same date monthly as the day you first signed in to VisualOps, after the price plan was launched.
                </p>
                <p>
                    For users registered after we launched the price plan, your billing day will be the same date monthly as the day you signed up to VisualOps.
                </p>
                <p>
                    If your billing date is between the 29th - 31st of the month, you will automatically be reset to the 28th of the month.
                </p>
                <p>
                    For example, a subscription created on October 31st in a non-leap year, the subsequent billing dates will be:
                </p>
                <ul class="margin">
                    <li>November 30</li>
                    <li>December 30</li>
                    <li>January 30</li>
                    <li>February 28 and then the 28th of each month thereafter.</li>
                </ul>
                <p>
                    In a leap year, the billing date will remain the 29th until the following February when it will reset to the 28th.
                </p>
            </div>
            <div class="price-faq">
                <h4>4. I am a free user. What if I run out of free instance hours?</h4>
                <p>If you run out of free instance hours, your VisualOps account will be set in a limited state. You will no longer be able to enjoy the following features: importing VPC, ensuring states, monitoring resource changes and basic app operations, unless you upgrade to the pro plan or your free instance hours are renewed.</p>
            </div>
            <div class="price-faq">
                <h4>5. I am a paid user. What would happen if I failed to pay?</h4>
                <p>If we are unable to charge your card after 3 attempts, your VisualOps account will be set in a limited state. You will no longer be able to enjoy the following features: importing VPC, ensuring states, monitoring resource changes and basic app operations, until you update your billing information or your free instance hours are renewed.</p>
            </div>
        </div>
    </section> -->

<% include _interested %>
<% include _footer %>
