<% active = "press" %>
<% include _header %>

<section class="about_content">
    <div class="header_like_wrap">
        <h2>About Us</h2>
        <div class="about_wrap">
            <p>About Us: Founded in 2012 with roots in San Francisco and Development in
                Beijing, we at VisualOps* hope to create a tool that will be beneficiary to DevOps
                professionals worldwide.</p>

            <p>VisualOps offers an intuitive and integrated approach to cloud application
                development and maintenance. Unlike traditional DevOps tools VisualOps
                incorporates a visual approach to streamline the process from design to
                automation, whilst ensuring that your app will always run exactly as you design
                it.</p>

            <p>The central idea is that you are able to design your application exactly as you
                would like it, with ease. We then do all of the heavy lifting so you don’t have to,
                and ensure that your app will always run as you designed it. Meaning you are
                able to launch your applications efficiently and effectively.</p>

            <p>*Company known as Madeira Cloud</p>
        </div>
    </div>
</section>

<% include _interested %>
<% include _footer %>